Fx/Fx-Old/Fx/Service References/ServiceReference1/DebugLightGridApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://crhodes.com" elementFormDefault="qualified" targetNamespace="http://crhodes.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="On">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="displayLightId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Off">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="displayLightId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>