Fx/Fx-Old/Fx/Service References/ServiceReference1/DebugLightGridApplication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://crhodes.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://crhodes.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://crhodes.com/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DebugLightGridApplication?xsd=xsd0" namespace="http://crhodes.com" />
      <xsd:import schemaLocation="http://localhost:8080/DebugLightGridApplication?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDisplayLight_On_InputMessage">
    <wsdl:part name="parameters" element="tns:On" />
  </wsdl:message>
  <wsdl:message name="IDisplayLight_On_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnResponse" />
  </wsdl:message>
  <wsdl:message name="IDisplayLight_Off_InputMessage">
    <wsdl:part name="parameters" element="tns:Off" />
  </wsdl:message>
  <wsdl:message name="IDisplayLight_Off_OutputMessage">
    <wsdl:part name="parameters" element="tns:OffResponse" />
  </wsdl:message>
  <wsdl:portType name="IDisplayLight">
    <wsdl:operation name="On">
      <wsdl:input wsaw:Action="http://crhodes.com/IDisplayLight/On" message="tns:IDisplayLight_On_InputMessage" />
      <wsdl:output wsaw:Action="http://crhodes.com/IDisplayLight/OnResponse" message="tns:IDisplayLight_On_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Off">
      <wsdl:input wsaw:Action="http://crhodes.com/IDisplayLight/Off" message="tns:IDisplayLight_Off_InputMessage" />
      <wsdl:output wsaw:Action="http://crhodes.com/IDisplayLight/OffResponse" message="tns:IDisplayLight_Off_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>